@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* End of Selection */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "JetBrains Mono", "Fira Code", "Courier New", monospace;
}

code {
  font-family: "Fira Code", "JetBrains Mono", "Courier New", monospace;
}

@keyframes loading-dots {
  0%,
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
