@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* biome-ignore lint/suspicious/noUnknownAtRules: <Tailwind Theme valid syntax> */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jetbrains-mono);
  --font-mono: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "JetBrains Mono", "Fira Code", "Courier New", monospace;
}

code {
  font-family: "Fira Code", "JetBrains Mono", "Courier New", monospace;
}
